<footer class="footer bg-dark py-3 mt-auto">
    <div class="container ms-2">
        <p><span class="text-muted">&copy; Kitecenter.gr</span></p>
        <p><span class="text-muted">e-mail:</span></p>
        <p><span class="text-muted">Phone:</span></p>
        <p><span class="text-muted">Location:</span></p>
        <p><span class="text-muted">Page admin:</span></p>
    </div>
</footer>