<% layout('layout/boilerplate') %>
<div class="d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
        
        <div class="card-body">
            <h5 class="card-title">
                <label for="basic-url" class="form-label">Email:</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                </div>
            </h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
        <ul class="list-group list-group-flush">
            
            <li class="list-group-item">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Your Password</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">Your Password must have only alphabetic characters and numbers</div>
                </div>
            
            </li>
            
        </ul>
        <div class="card-body d-flex justify-content-center">
            <a href="/signin" class="card-link">Sign in</a>
            <a href="#" class="card-link">Admin</a>
        </div>
    </div>
</div>