<% layout('layout/boilerplate') %>

<h1>Add a product</h1>
<form action="/firms/<%=firm._id%>?_method=PUT" method="POST" novalidate class="need-validation">
    <div class="mb-3">
        <label for="name" class="col-sm-2 col-form-label">Company Name:</label>
        <input type="text" id="name" name="name" class="form-control" placeholder="<%= firm.name %> "
            required>
    </div>
    <div class="mb-3">
        <label for="image" class="col-sm-2 col-form-label">Image Url:</label>
        <input type="text" id="image" name="image" class="form-control" placeholder="<%= firm.image %> " required>
    </div>
    <div class="mb-3">
        <label for="link" class="col-sm-2 col-form-label">Link Url:</label>
        <input type="text" id="image" name="link" class="form-control" placeholder="<%=firm.link %> " required>
    </div>
    
    <button class="btn btn-primary">Submit</button>
</form>

<script>
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.need-validation')

        // Loop over them and prevent submission
        Array.from(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>


